@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

heart{
  color: #ff6a6a;
}

heart {
  font-size: 20px; /* Tamanho do coração */
  color: #ff6a6a; /* Cor do coração */
  display: inline-block;
  animation: beat 1s infinite; /* Animação de batida */
}

@keyframes beat {
  0% {
      transform: scale(1); /* Tamanho normal */
  }
  50% {
      transform: scale(1.2); /* Aumenta um pouco */
  }
  100% {
      transform: scale(1); /* Volta ao normal */
  }
}
